<%- include("layouts/header.ejs") %>
<%- include("layouts/body.ejs") %>
        <h1>505 Error</h1>
        <h2>Some error occured!</h2>
        <p>We are working on fixing this, sorry for the inconvenience!</p>
        <a href="/"><Button>Home Page</Button></a>
<%- include("layouts/footer.ejs") %>
